
<h2>Login Form</h2>
<form class="auth-form" action="/login" method="POST">
    <div class="input-group">
        <span class="input-group-text">Username</span>
        <input type="text" aria-label="Username" class="form-control" name="username" />
    </div>

    <div class="input-group">
        <span class="input-group-text">Password</span>
        <input type="password" aria-label="Password" class="form-control" name="password" />
    </div>

    <div class="input-group">
        <button class="btn btn-primary" type="submit">Login</button>
    </div>
</form>
